{% extends 'core/base.html' %}

{% block title %}About My Portafolio{% endblock %}

{% block content %}
<h2>Portafolio created by @Tomas Huizar</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Curabitur vel ipsum eget eros imperdiet euismod sed ut tortor.
    Etiam a mi non sapien vehicula lacinia.
    Vivamus fermentum elit sit amet lectus auctor, vel tincidunt elit vehicula.
    Aliquam dapibus eget est quis volutpat. Morbi eget tortor auctor,
    porta est ut, feugiat lacus. Cras sed sagittis diam.
    Donec eleifend eros pretium lectus feugiat, eget suscipit quam suscipit.
    Proin interdum lacus a quam pharetra scelerisque.
    EOF
</p>

{% endblock %}