<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block pagetitle %}Projects{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'data/css/index.css' %}">
</head>
<body>
    <h1>{% block title %}{% endblock %}</h1>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About me</a></li>
        <li><a href="{% url 'contact' %}">Contact me</a></li>
        <li><a href="{% url 'projects' %}">Projects</a></li>
        <li><a href="{% url 'addProject' %}">Add Project</a></li>
    </ul>
    <hr>
    {% block content %} {% endblock %}
</body>
</html>